<!DOCTYPE html>
<html>
<head>
    <title>Données de l'utilisateur</title>
    <!-- Lien vers les fichiers Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <div class="row">
            {% for data in user_data %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <p>ID de la license: {{ data['id'] }}</p>
                        <p>Type de license: {{ data['license_type'] }}</p>
                        <p>Date d'obtention: {{ data['date'] }}</p>
                        <p>Durée de validité: {{ data['duration'] }}</p>
                        <p>Première clé: {{ data['key_1'] }}</p>
                        <p>Deuxième clé: {{ data['key_2'] }}</p>
                        <p>Nom du site: {{ data['site_name'] }}</p>
                        <p>Adresse: {{ data['adress'] }}</p>
                        <p>License 1: {{ data['code_1'] }}</p>
                        <p>License 2: {{ data['code2'] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="/request_license" class="btn btn-primary">Request a License</a>
    </div>
</body>
</html>
