<!DOCTYPE html>
<html>
<head>
    <title>License</title>
    <!-- Lien vers les fichiers Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Demander une license</h1>
        <form method="post">
            <div class="form-group">
                <label for="site_name">Nom du site :</label>
                <input type="text" class="form-control" id="site_name" name="site_name" placeholder="Nom" required>
            </div>
            <div class="form-group">
                <label for="adress">Adresse :</label>
                <input type="text" class="form-control" id="adress" name="adress" placeholder="Adresse" required>
            </div>
            <div class="form-group">
                <label for="license_type">Type de license :</label>
                <input type="text" class="form-control" id="license_type" name="license_type" placeholder="Type de license" required>
            </div>
            <div class="form-group">
                <label for="duration">Durée de validité :</label>
                <input type="text" class="form-control" id="duration" name="duration" placeholder="Durée de validité" required>
            </div>
            <div class="form-group">
                <label for="code_1">Premier code :</label>
                <input type="text" class="form-control" id="code_1" name="code_1" placeholder="Premier code" required>
            </div>
            <div class="form-group">
                <label for="code2">Deuxième code :</label>
                <input type="text" class="form-control" id="code2" name="code2" placeholder="Deuxième code" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Envoyer la demande</button>
        </form>
    </div>
</body>
</html>
